@page "/register"
@using Models.Request;
@using Services;
@layout AuthLayout
@inject NavigationManager navigationManager

<PageTitle>注册</PageTitle>

<div class="back">
    <div style="position: fixed; right: 10%; top: 50%; transform: translateY(-50%); padding:30px;">
        <Card Bordered="true" Title=@("注册") Style="width:400px" Hoverable="true">
            <Body>
                <Form Model="@_registerDto"
                      OnFinish="ReigsterAsync">
                    <FormItem>
                        <AntDesign.Input Placeholder="请输入手机号" Size="large" @bind-Value="@context.mobile">
                            <Prefix><Icon Type="mobile" /></Prefix>
                        </AntDesign.Input>
                    </FormItem>
                    <FormItem>
                        <AntDesign.Input Placeholder="请输入名字" Size="large" @bind-Value="@context.name">
                            <Prefix><Icon Type="user" /></Prefix>
                        </AntDesign.Input>
                    </FormItem>
                    <FormItem>
                        <InputPassword Placeholder="请输入密码" Size="large" @bind-Value="@context.password">
                            <Prefix><Icon Type="key" /></Prefix>
                        </InputPassword>
                    </FormItem>
                    <FormItem>
                        <InputPassword Placeholder="请确认密码" Size="large" @bind-Value="@context.password2">
                            <Prefix><Icon Type="key" /></Prefix>
                        </InputPassword>
                    </FormItem>
                    <Button Type="primary" HtmlType="submit" Class="submit" Size="large" Block>注&nbsp;册</Button>
                </Form>
            </Body>
        </Card>
    </div>
</div>

<style>
    .back {
        background-image: url(back.jpg);
        background-size: cover; /* 背景图片会根据页面大小自动调整 */
        background-position: center; /* 背景图片居中显示 */
        background-repeat: no-repeat; /* 防止图片重复 */
        height: 100vh; /* 让页面高度占满视口 */
        margin: 0; /* 去掉默认的页面边距 */
    }
</style>

@code {
    @inject IAuthService _authService

    private RegisterDto _registerDto = new();


    protected async Task ReigsterAsync(EditContext context)
    {
        await _authService.Register(_registerDto);
    }
}
