@page "/role"
@using Newtonsoft.Json;
@using Services;

<PageTitle>角色管理</PageTitle>

@if (_pageList == null)
{
    <div>
        <Spin size="large" />
    </div>
}
else
{
    // 新增/编辑对话框
    <Modal Title="@_title"
           Visible="@_visible"
           OnOk="@HandleOk"
           OnCancel="@HandleCancel"
           ConfirmLoading="@_confirmLoading">
        <Form Model="@_role"
              LabelColSpan="8"
              WrapperColSpan="16">
            <FormItem Label="名称">
                <Input @bind-Value="@context.name" />
            </FormItem>
            <FormItem Label="编号">
                <Input @bind-Value="@context.code" />
            </FormItem>

            <FormItem Label="权限空间">
                <Select TItem="PermissionSpaceDto"
                        TItemValue="long"
                        DataSource="@_permissionSpaceDtos"
                        ValueName="@nameof(PermissionSpaceDto.id)"
                        LabelName="@nameof(PermissionSpaceDto.name)"
                @bind-Value="@_role.permission_space_id"
                    DefaultActiveFirstOption>
            </Select>
        </FormItem>

    </Form>
</Modal>



    <Table TItem="RoleDto" PageSize="5" Total="_pageList.TotalCount" DataSource="_pageList.Rows">
        <TitleTemplate>
            <Flex Justify="end" Gap="10">
                <Button Type="primary" OnClick="HandleCreate">新增</Button>
            </Flex>
        </TitleTemplate>
        <ColumnDefinitions Context="row">
            <Selection />
            <GenerateColumns Definitions="@((n,c) => { c.Filterable = true; c.Sortable = true; })" />
            <ActionColumn Title="Action">
                <a @onclick="()=>{ HandleUpdate(row);}">Edit</a>
                <Popconfirm Title="Are you sure?" OkText="确认" CancelText="取消" OnConfirm="async ()=>{await HandleDelete(row);}">
                    <a>Delete</a>
                </Popconfirm>
            </ActionColumn>
        </ColumnDefinitions>
    </Table>
}

@code {

    @inject IRoleService _roleService
    @inject IPermissionSpaceService _permissionSpaceService

    private PageList<RoleDto> _pageList;
    private int _pageIndex = 1;
    private int _pageSize = 10;


    //对话框相关属性
    private bool _visible = false;
    private bool _confirmLoading = false;
    private string _title = "";
    private RoleDto _role;

    private List<PermissionSpaceDto> _permissionSpaceDtos = new();

    protected override async Task OnInitializedAsync()
    {
        await GetPageList();
        await GetPermissionSpaces();
    }

    protected async Task GetPageList()
    {
        _pageList = await _roleService.PageList(_pageIndex, _pageSize) ?? new PageList<RoleDto>();
    }

    private void HandleCreate(MouseEventArgs e)
    {
        _role = new RoleDto();
        _title = "新增";
        _visible = true;
    }

    private void HandleUpdate(RoleDto roleDto)
    {
        _role = roleDto;
        _title = "编辑";
        _visible = true;
    }

    private async Task HandleDelete(RoleDto roleDto)
    {
        await _roleService.Delete(roleDto.id);
        await GetPageList();
    }


    private async Task HandleOk(MouseEventArgs e)
    {
        _confirmLoading = true;
        StateHasChanged();

        if (_title == "新增")
        {
            await _roleService.Create(new Models.Request.CreateRoleDto()
                {
                    code = _role.code,
                    name = _role.name,
                    permission_space_id = _role.permission_space_id
                });
        }
        else // 编辑
        {
            await _roleService.Update(new Models.Request.UpdateRoleDto()
                {
                    code = _role.code,
                    id = _role.id,
                    name = _role.name,
                    permission_space_id = _role.permission_space_id
                });
        }

        await GetPageList();
        _visible = false;
        _confirmLoading = false;
    }

    private void HandleCancel(MouseEventArgs e)
    {
        _visible = false;
    }

    private async Task GetPermissionSpaces()
    {
        _permissionSpaceDtos = await _permissionSpaceService.List() ?? new List<PermissionSpaceDto>();
    }

}
